@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  /* background-image: url('/bg.jpg'); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color-scheme: dark;
}
